.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 1px solid #ddd;
    border-radius:10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa; 
 }
 .sidebar .nav-link.active {
    font-weight: bold;
    color: #007bff;
 }
 .sidebar .nav-link {
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease; 
 }

 .sidebar .nav-link:hover {
    background-color: #007bff;
    color: white; 
 }

 .sidebar .nav-link.active {
    font-weight: bold;
    color: white; 
    background-color: #007bff; 
 }

 .sidebar ul {
    padding-left: 0;
    list-style-type: none; 
 }

 .sidebar ul li {
    margin: 5px 0; 
 }

 .sidebar ul ul li a {
    display: block; 
    padding: 10px 15px; 
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px; 
 }

 .sidebar ul ul li a:hover {
    background-color: #007bff;
    color: white; 
    text-decoration: none;
 }

 .sidebar .nav-link {
    border-radius: 5px;
 }